@page "/XmlSummariesGeneration"
<h3>XML Summaries Generation</h3>

@if(_data != null)
{
    <MudTabs>
        @foreach(var dataEntry in _data.OrderBy(x=> x.Order))
        {
            <MudTabPanel Text="@dataEntry.TabCaption">
                <h2>@dataEntry.KindPlural (@dataEntry.UnDocumented.Length Undocumented, @dataEntry.Documented.Length Documented (@dataEntry.All.Length in Total))</h2>
                <MudGrid>
                    <MudItem xs="2">
                        @if (_onlyUndocumentedCheckStates != null)
                        {
                            var onlyUndocumented = _onlyUndocumentedCheckStates[dataEntry.Kind];
                            <RCheckBox Value="@onlyUndocumented" Label="Only list undocumented" ValueChanged="x => SwitchAllUndocumentedState(dataEntry.Kind, x)"/>
                            <VectorEntitySelectionList Items="@(onlyUndocumented ? dataEntry.UnDocumented : dataEntry.All)" SelectedItemChanged="x => SwitchSelectedItem(x)"/>
                        }
                    </MudItem>
                    <MudItem xs="10">
                        @if(_selectEntry != null)
                        {
                            <h1>@_selectEntry.Name</h1>
                            <div>@_selectEntry.Namespace.@_selectEntry.SourcePath</div>
                            <RButton OnClick="GenerateXmlSummary">Generate XML Summary</RButton>

                            <h2>New XML Summary</h2>
                            <RTextField @bind-Value="_xmlSummary" Lines="10">

                            </RTextField>

                            <h2>Content</h2>
                            <pre style="white-space: pre-wrap; word-wrap: break-word;">
                                @_selectEntry.Content
                            </pre>
                        }
                    </MudItem>
                </MudGrid>
            </MudTabPanel>
        }
    </MudTabs>
}
else
{
    <RProgressIndicator/>
}