@page "/XmlSummariesGeneration"
@using CodeRag.Shared.Chunking.CSharp
@using CodeRag.Shared.EntityFramework.DbModels
<h3>XML Summaries Generation</h3>

@if (_tree != null)
{
    <MudGrid>
        <MudItem xs="3">
            @if (_cSharpSources is { Length: > 1 })
            {
                <RSelect T="ProjectSourceEntity" Label="Source" Items="_cSharpSources" Value="_selectedSource" ValueChanged="x=> SwitchSource(x)" ToStringFunc="@(x => x!.Name ?? "???")" />
            }

            @if (_selectedSource != null)
            {
                <RSelectFromEnum T="CSharpKind" Value="_kind" ValuesToExclude="[CSharpKind.None]" ValueChanged="x => SwitchKind(x)"></RSelectFromEnum>
                <RSelectFromEnum T="SummaryStatus" Value="_summaryStatus" ValueChanged="x => SwitchSummaryKind(x)"></RSelectFromEnum>
                <MudTextField T="string" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" TextChanged="OnSearchTextChanged" Immediate="true" Clearable="true" />
                <MudTreeView T="Item" Items="_tree.Children" Dense @ref="_treeView" FilterFunc="MatchesName" SelectedValue="_selectedItem" SelectedValueChanged="x=> SwitchSelected(x)" SelectionMode="SelectionMode.SingleSelection">
                    <ItemTemplate>
                        <MudTreeViewItem T="Item"
                                         Text="@context.Value!.GetText(context.Children)"
                                         TextTypo="Typo.caption"
                                         EndText="@context.Value.GetTotalRelatedEntities(context.Children).ToString()"
                                         EndTextTypo="Typo.caption"
                                         Value="@context.Value"
                                         Items="@context.Children"
                                         Icon="@context.Value.GetIcon()"
                                         Visible="@context.Visible">
                        </MudTreeViewItem>
                    </ItemTemplate>
                </MudTreeView>
            }
        </MudItem>
        <MudItem xs="9">
            @if (_selectedItem != null)
            {
                <RProgressBar @ref="_progressBar" />
                <RButton OnClick="()=> GenerateAll()">Generate and Accept for all</RButton>


                @_selectedItem.Info.FullName

                @foreach (var chunk in _selectedItem.CodeChunks)
                {
                    @* todo: use vector-entities to check diff from real file *@
                    <MudGrid>
                        <MudItem xs="6">
                            <pre>@chunk.Node.ToString()</pre>
                        </MudItem>
                        <MudItem>
                            <RButton OnClick="()=> Generate(chunk)">Generate XML Summary</RButton>
                            <RButton OnClick="()=> Accept(_selectedItem.Info.FullName, chunk)">Accept</RButton>
                            <RTextField @bind-Value="chunk.XmlSummary" Lines="20" />
                        </MudItem>
                    </MudGrid>
                }
            }
        </MudItem>
    </MudGrid>
}