@page "/PrReview"
@using Octokit
@using Shared.Ai
<MudGrid Spacing="1" Class="align-items-center">
    <MudItem>
        <h1>AI Reviews</h1>
    </MudItem>
    <MudSpacer />
    @if (!string.IsNullOrWhiteSpace(Project.GitHubOwner) && !string.IsNullOrWhiteSpace(Project.GitHubRepo) && _pullRequests != null)
    {
        <MudItem>
            <RSelect Disabled="BlazorUtils.IsWorking" T="PullRequest" Items="_pullRequests" Label="Pull Request to Review" @bind-Value="_selectedPullRequest" ToStringFunc="@(x=> $"#{x!.Number} - {x.Title}")" Style="width: 500px" />
        </MudItem>
    }
    <MudItem>
        <RSelect Disabled="BlazorUtils.IsWorking" T="AiChatModel" Label="AI-Model to use" Items="aiPullRequestReviewQuery.GetChatModels()" @bind-Value="_chatModel" ToStringFunc="@(x => x?.DeploymentName ?? "???")" Style="width: 200px" />
    </MudItem>
</MudGrid>

@if (string.IsNullOrWhiteSpace(Project.GitHubOwner) || string.IsNullOrWhiteSpace(Project.GitHubRepo))
{
    <MudAlert Severity="Severity.Warning">This feature require that you define GitHub Owner and Repo in the Project Settings</MudAlert>
}
else
{
    @if (_pullRequests != null)
    {
        @if (_selectedPullRequest != null)
        {
            <MudGrid>
                <MudItem xs="3">
                    <h2>Pull Request Details</h2>
                    <ul>
                        <li class="bold">@_selectedPullRequest.Title #@_selectedPullRequest.Number <RIconButton Icon="@Icons.Material.Filled.Launch" Target="_blank" Href="@_selectedPullRequest.HtmlUrl"></RIconButton></li>
                        <ul>
                            <li>Created: @_selectedPullRequest.CreatedAt.LocalDateTime.ToLongDateString()</li>
                            <li>Owner: @_selectedPullRequest.User.Login</li>
                        </ul>
                    </ul>
                    <br />

                    <RButton OnClick="DoAiReview" Disabled="BlazorUtils.IsWorking">Conduct AI Review</RButton>
                </MudItem>
                <MudItem xs="6">
                    @if (BlazorUtils.IsWorking)
                    {
                        <RProgressIndicator />
                    }

                    @if (_review != null)
                    {
                        <h2>Pull Request Review</h2>
                        @_review.Summary

                        @if (_review.PotentialIssuesFound?.Any() == true)
                        {
                            <h3>@_review.PotentialIssuesFound.Length Potential issues found</h3>
                            <ul>
                                @foreach (var issue in _review.PotentialIssuesFound)
                                {
                                    <li>@issue</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <h3>No issues found 😎</h3>
                        }
                        <br/><br/>
                        <RButton OnClick="AddPrReviewComment">Add this review as Comment on the PR</RButton>

                    }
                </MudItem>
                <MudItem xs="3">
                    &nbsp;
                </MudItem>
            </MudGrid>
        }
    }
    else
    {
        <RProgressIndicator />
    }
}