@using CodeRag.Abstractions.Models
@using Shared.EntityFramework.DbModels
<MudDialog Style="max-width: 80% !important; min-width: 80% !important; max-height: 80% !important; min-height: 80% !important;">
    <DialogContent>
        <RTextField Label="Name" @bind-Value="@Project.Name" />
        <RTextField Label="Description" @bind-Value="@Project.Description" Lines="3" />
        <RTextField Label="GitHub Owner" @bind-Value="@Project.GitHubOwner" />
        <RTextField Label="GitHub Repo" @bind-Value="@Project.GitHubRepo" />
        <MudTabs>
            <MudTabPanel Text="Sources">
                <MudDataGrid Items="Project.Sources">
                    <Columns>
                        <PropertyColumn Property="x => x.Name" Title="Source Name" />
                        <PropertyColumn Property="x => x.Kind" />
                        <PropertyColumn Property="x => x.Location" />
                        <TemplateColumn Title="Ingest to Vector Store" CellStyle="max-width: 300px; min-width: 300px">
                            <CellTemplate>
                                @if (_syncingSource == context.Item && BlazorUtils.IsWorking)
                                {
                                    <div class="font-size-10">@_lastMessage</div>
                                    <MudProgressLinear Color="Color.Primary" Size="Size.Small" Value="@_current" Max="@_total" />
                                }
                                else
                                {
                                    <RIconButton Icon="@Icons.Material.Filled.Sync" Disabled="@(BlazorUtils.IsWorking || Project.AddMode || context.Item.AddMode)" ToolTip="Sync the Source with the Vector Store" OnClick="() => SyncSource(context.Item)" />
                                    <span>Last sync: @GetLastSync(context.Item)</span>
                                }
                            </CellTemplate>
                        </TemplateColumn>
                        <TemplateColumn Title="Actions">
                            <CellTemplate>
                                <RIconButton Icon="@Icons.Material.Filled.Edit" ToolTip="Edit this source" Disabled="BlazorUtils.IsWorking" OnClick="() => EditSource(context.Item)" />
                                <RIconButton Icon="@Icons.Material.Filled.Delete" ToolTip="Delete this source" Disabled="BlazorUtils.IsWorking" OnClick="() => DeleteSource(context.Item)" />
                            </CellTemplate>
                        </TemplateColumn>
                    </Columns>
                </MudDataGrid>
                <br />
                <MudMenu Dense>
                    <ActivatorContent>
                        <RButton Disabled="BlazorUtils.IsWorking">New Source</RButton>
                    </ActivatorContent>
                    <ChildContent>
                        <MudMenuItem Icon="@Icons.Material.Filled.Code" OnClick="()=> CreateNewSource(RagSourceKind.CSharp)">Create new C# Source</MudMenuItem>
                        <MudMenuItem Icon="@Icons.Material.Filled.MenuBook" OnClick="() => CreateNewSource(RagSourceKind.Markdown)">Create new Markdown Source</MudMenuItem>
                    </ChildContent>
                </MudMenu>
            </MudTabPanel>
            <MudTabPanel Text="Chat">
                <RTextField Label="Instructions" @bind-Value="@Project.ChatInstructions" Lines="10" />
                <div class="font-size-10">Code Search</div>
                <MudGrid>
                    <MudItem>
                        <RCheckBox @bind-Value="Project.ChatUseSourceCodeSearch" Label="Use" />
                    </MudItem>
                    <MudItem>
                        <MudSlider Min="1" Max="100" @bind-Value="Project.ChatMaxNumberOfAnswersBackFromSourceCodeSearch">Max Records (@Project.ChatMaxNumberOfAnswersBackFromSourceCodeSearch)</MudSlider>
                    </MudItem>
                    <MudItem>
                        <MudTooltip Text="Lower value restrict results back (0 = Exact Match)">
                            <MudSlider Min="0" Max="1" Step="0.1" @bind-Value="Project.ChatScoreShouldBeLowerThanThisInSourceCodeSearch">Max Score (@Project.ChatScoreShouldBeLowerThanThisInSourceCodeSearch)</MudSlider>
                        </MudTooltip>
                    </MudItem>
                </MudGrid>
                <hr />
                <div class="font-size-10">Documentation Search</div>
                <MudGrid>
                    <MudItem>
                        <RCheckBox @bind-Value="Project.ChatUseDocumentationSearch" Label="Use" />
                    </MudItem>
                    <MudItem>
                        <MudSlider Min="1" Max="100" @bind-Value="Project.ChatMaxNumberOfAnswersBackFromDocumentationSearch">Max Records (@Project.ChatMaxNumberOfAnswersBackFromDocumentationSearch)</MudSlider>
                    </MudItem>
                    <MudItem>
                        <MudTooltip Text="Lower value restrict results back (0 = Exact Match)">
                            <MudSlider Min="0" Max="1" Step="0.1" @bind-Value="Project.ChatScoreShouldBeLowerThanThisInDocumentSearch">Max Score (@Project.ChatScoreShouldBeLowerThanThisInDocumentSearch)</MudSlider>
                        </MudTooltip>
                    </MudItem>
                </MudGrid>
            </MudTabPanel>
            <MudTabPanel Text="XML Summaries">
                <RTextField Label="Instructions" @bind-Value="@Project.CSharpXmlSummaryInstructions" Lines="10" />
                <div class="font-size-10">Code Search</div>
                <MudGrid>
                    <MudItem>
                        <RCheckBox @bind-Value="Project.XmlSummariesUseSourceCodeSearch" Label="Use" />
                    </MudItem>
                    <MudItem>
                        <MudSlider Min="1" Max="100" @bind-Value="Project.XmlSummariesMaxNumberOfAnswersBackFromSourceCodeSearch">Max Records (@Project.XmlSummariesMaxNumberOfAnswersBackFromSourceCodeSearch)</MudSlider>
                    </MudItem>
                    <MudItem>
                        <MudTooltip Text="Lower value restrict results back (0 = Exact Match)">
                            <MudSlider Min="0" Max="1" Step="0.1" @bind-Value="Project.XmlSummariesScoreShouldBeLowerThanThisInSourceCodeSearch">Max Score (@Project.XmlSummariesScoreShouldBeLowerThanThisInSourceCodeSearch)</MudSlider>
                        </MudTooltip>
                    </MudItem>
                </MudGrid>
                <hr />
                <div class="font-size-10">Documentation Search</div>
                <MudGrid>
                    <MudItem>
                        <RCheckBox @bind-Value="Project.XmlSummariesUseDocumentationSearch" Label="Use" />
                    </MudItem>
                    <MudItem>
                        <MudSlider Min="1" Max="100" @bind-Value="Project.XmlSummariesMaxNumberOfAnswersBackFromDocumentationSearch">Max Records (@Project.XmlSummariesMaxNumberOfAnswersBackFromDocumentationSearch)</MudSlider>
                    </MudItem>
                    <MudItem>
                        <MudTooltip Text="Lower value restrict results back (0 = Exact Match)">
                            <MudSlider Min="0" Max="1" Step="0.1" @bind-Value="Project.XmlSummariesScoreShouldBeLowerThanThisInDocumentSearch">Max Score (@Project.XmlSummariesScoreShouldBeLowerThanThisInDocumentSearch)</MudSlider>
                        </MudTooltip>
                    </MudItem>
                </MudGrid>
            </MudTabPanel>
            <MudTabPanel Text="PR Review">
                <RTextField Label="Instructions" @bind-Value="@Project.PullRequestReviewInstructions" Lines="10" />
                <div class="font-size-10">Code Search</div>
                <MudGrid>
                    <MudItem>
                        <RCheckBox @bind-Value="Project.PrReviewUseSourceCodeSearch" Label="Use" />
                    </MudItem>
                    <MudItem>
                        <MudSlider Min="1" Max="100" @bind-Value="Project.PrReviewMaxNumberOfAnswersBackFromSourceCodeSearch">Max Records (@Project.PrReviewMaxNumberOfAnswersBackFromSourceCodeSearch)</MudSlider>
                    </MudItem>
                    <MudItem>
                        <MudTooltip Text="Lower value restrict results back (0 = Exact Match)">
                            <MudSlider Min="0" Max="1" Step="0.1" @bind-Value="Project.PrReviewScoreShouldBeLowerThanThisInSourceCodeSearch">Max Score (@Project.PrReviewScoreShouldBeLowerThanThisInSourceCodeSearch)</MudSlider>
                        </MudTooltip>
                    </MudItem>
                </MudGrid>
                <hr />
                <div class="font-size-10">Documentation Search</div>
                <MudGrid>
                    <MudItem>
                        <RCheckBox @bind-Value="Project.PrReviewUseDocumentationSearch" Label="Use" />
                    </MudItem>
                    <MudItem>
                        <MudSlider Min="1" Max="100" @bind-Value="Project.PrReviewMaxNumberOfAnswersBackFromDocumentationSearch">Max Records (@Project.PrReviewMaxNumberOfAnswersBackFromDocumentationSearch)</MudSlider>
                    </MudItem>
                    <MudItem>
                        <MudTooltip Text="Lower value restrict results back (0 = Exact Match)">
                            <MudSlider Min="0" Max="1" Step="0.1" @bind-Value="Project.PrReviewScoreShouldBeLowerThanThisInDocumentSearch">Max Score (@Project.PrReviewScoreShouldBeLowerThanThisInDocumentSearch)</MudSlider>
                        </MudTooltip>
                    </MudItem>
                </MudGrid>
            </MudTabPanel>
            <MudTabPanel Text="API & Automations">
                <MudAlert Severity="Severity.Warning">Coming Soon you will be able to use all Feature as API/MCP for Automations in other systems for example periodically Ingestion Sync</MudAlert>
            </MudTabPanel>
            <MudTabPanel Text="Danger Zone">
                <div style="padding: 10px">
                    <RButton Color="Color.Error" OnClick="Delete">DELETE THIS PROJECT</RButton>
                </div>
                
            </MudTabPanel>
        </MudTabs>
    </DialogContent>
    <DialogActions>
        <RButton Color="Color.Default" Disabled="BlazorUtils.IsWorking" OnClick="Dialog.Cancel">Cancel</RButton>
        <RButton OnClick="Save" Disabled="BlazorUtils.IsWorking">Save</RButton>
    </DialogActions>
</MudDialog>