@inherits LayoutComponentBase
<CascadingValue Value="BlazorUtils">
    <CascadingValue Value="Project">
        <MudThemeProvider IsDarkMode="true" />
        <MudPopoverProvider />
        <MudDialogProvider />
        <MudSnackbarProvider />
        <MudLayout>
            <MudAppBar Elevation="1" Dense>
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
                <MudGrid Style="align-items: center">
                    <MudItem>
                        <MudText Typo="Typo.h5" Class="ml-3">Workbench</MudText>
                    </MudItem>
                    <MudSpacer />
                    <MudItem>
                        <MainLayoutProjectSelector ProjectChanged="x => Project = x" />
                    </MudItem>
                </MudGrid>
            </MudAppBar>
            <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
                <MudNavLink Icon="@Icons.Material.Filled.Dashboard" Href="/" Match="NavLinkMatch.All">Home</MudNavLink>
                <MudNavGroup Icon="@Icons.Material.Filled.Dataset" Title="Data Ingestion" Expanded="true">
                    <MudNavLink Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.DataObject" Href="/CodeIngestion">Code Ingestion</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.MenuBook" Href="/DocsIngestion">Docs Ingestion</MudNavLink>
                </MudNavGroup>
                <MudNavGroup Icon="@Icons.Material.Filled.AutoFixHigh" Title="Generate & Evaluate" Expanded="true">
                    <MudNavLink Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Code" Href="/xmlSummaries">XML Summaries</MudNavLink>
                    <MudNavLink Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Article" Href="/WikiGeneration">Wiki Entries</MudNavLink>
                </MudNavGroup>
                <MudNavLink Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.AutoGraph" Href="/Test">Test AI Answers</MudNavLink>
                </MudDrawer>
            <MudMainContent>
                <div style="padding: 16px">
                @if (Project != null)
                {
                    @Body
                }
                else
                {
                    <div>Todo: Create first Project</div>
                }
                </div>
            </MudMainContent>
        </MudLayout>
    </CascadingValue>
</CascadingValue>
<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>