@using Shared.EntityFramework.DbModels
@inherits LayoutComponentBase
<MudThemeProvider IsDarkMode="@_darkMode" />
@if (_initialized)
{
    @if (_projectQuery != null)
    {
        <CascadingValue Value="BlazorUtils">
            <CascadingValue Value="Site">
                <CascadingValue Value="Project">
                    <CascadingValue Value="LoggedIn">
                        <MudPopoverProvider />
                        <MudDialogProvider />
                        <MudSnackbarProvider />
                        @if (_projects == null)
                        {
                            <RProgressIndicator />
                        }
                        else
                        {
                            <MudLayout>
                                <MudAppBar Elevation="1" Dense>
                                    <MudGrid Style="align-items: center">
                                        <MudItem>
                                            <MudText Typo="Typo.h5">
                                                <a href="/" style="color: var(--PrimaryContrastText)">
                                                @if (LoggedIn)
                                                {
                                                    @($"{Shared.Constants.AppName} Admin")
                                                }
                                                else
                                                {
                                                    @($"Welcome to {Shared.Constants.AppName} - Your AI Expert for C# Code")
                                                }
                                                </a>
                                            </MudText>
                                        </MudItem>
                                        <MudSpacer />
                                        <MudItem>
                                            @if (_projects != null && Project != null)
                                            {
                                                <MudGrid Justify="Justify.FlexEnd" Style="align-items: center" Spacing="1">
                                                    <MudItem>
                                                        <MudMenu Dense
                                                                 AnchorOrigin="Origin.TopRight"
                                                                 TransformOrigin="Origin.TopRight">
                                                            <ActivatorContent>
                                                                @if (LoggedIn)
                                                                {
                                                                    <div>Project: @Project.Name</div>
                                                                }
                                                                else
                                                                {
                                                                    <div>Repo: @Project.Name</div>
                                                                }
                                                                
                                                            </ActivatorContent>
                                                            <ChildContent>
                                                                @foreach (ProjectEntity project in _projects)
                                                                {
                                                                    <MudMenuItem Style="text-align: end" OnClick="() => SelectProject(project)">@project.Name</MudMenuItem>
                                                                }
                                                                @if (LoggedIn)
                                                                {
                                                                    <MudMenuItem Style="border-top: 1px solid silver" Icon="@Icons.Material.Filled.AddCircleOutline" OnClick="NewProject">Create a new Project</MudMenuItem>
                                                                }
                                                            </ChildContent>
                                                        </MudMenu>
                                                    </MudItem>
                                                </MudGrid>
                                            }
                                        </MudItem>
                                        <MudItem>
                                            <RIconButton Icon="@(_darkMode ? Icons.Material.Filled.LightMode : Icons.Material.Filled.DarkMode)" Color="Color.Inherit" OnClick="SwitchMode" Style="margin-right: 10px" />
                                            <RIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Target="_blank" Href="https://www.github.com/rwjdk/CodeRag" />
                                        </MudItem>
                                        <MudItem>
                                            <MudTooltip Text="Simulate Login/Logout">
                                                @if (Site.DemoMode)
                                                {
                                                    @if (LoggedIn)
                                                    {
                                                        <RButton Color="Color.Secondary" OnClick="Logout">Log out</RButton>
                                                    }
                                                    else
                                                    {
                                                        <RButton Color="Color.Secondary" OnClick="Login">Log in</RButton>
                                                    }
                                                }
                                                else
                                                {
                                                    <RButton Color="Color.Secondary" OnClick="AdminExperience">Try the Admin Experience</RButton>
                                                }
                                            </MudTooltip>
                                        </MudItem>
                                    </MudGrid>



                                </MudAppBar>
                                @if (LoggedIn)
                                {
                                    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2" Variant="DrawerVariant.Mini" Width="180px">


                                        <MudNavMenu>
                                            <SidebarMenuItem Icon="@Icons.Material.Filled.Home" Href="/" Caption="Home" DrawerOpen="_drawerOpen" Match="NavLinkMatch.All" />
                                            @if (IsProjectSelected)
                                            {
                                                <SidebarMenuItem Icon="@Icons.Material.Filled.Code" Href="/XmlSummariesGeneration" Caption="XML Summaries" DrawerOpen="_drawerOpen" />
                                                <SidebarMenuItem Icon="@Icons.Material.Filled.Reviews" Href="/PrReview" Caption="PR Reviews" DrawerOpen="_drawerOpen" />
                                                <SidebarMenuItem Icon="@Icons.Material.Filled.AutoGraph" Href="/Chat" Caption="Test Chat" DrawerOpen="_drawerOpen" />
                                            }
                                        </MudNavMenu>
                                        <MudSpacer />
                                        <MudNavMenu>
                                            @if (IsProjectSelected)
                                            {
                                                <SidebarMenuItem Icon="@Icons.Material.Filled.Settings" OnClick="() => ShowProjectSettings(Project)" Caption="Project Settings" DrawerOpen="_drawerOpen" />
                                            }
                                            <SidebarMenuItem Icon="@Icons.Material.Filled.ChromeReaderMode" OnClick="DrawerToggle" Caption="Collapse Menu" AlternativeCaptionForTooltip="Expand Menu" DrawerOpen="_drawerOpen" />
                                        </MudNavMenu>
                                    </MudDrawer>
                                }
                                <MudMainContent>
                                    <div style="padding: 16px">
                                        @if (IsProjectSelected)
                                        {
                                            @Body
                                        }
                                        else
                                        {
                                            <div style="text-align: center">
                                                <h1>Welcome to @Shared.Constants.AppName</h1>
                                                <RButton Size="Size.Large" OnClick="NewProject">Click here to add your First Project</RButton>
                                            </div>
                                        }
                                    </div>
                                </MudMainContent>
                            </MudLayout>
                        }
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    }
    else
    {
        <MissingConfigurationInstructions />
    }
}

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>