@page "/CodeIngestion"

<h1>Code Ingestion</h1>
<MudTabs>
    @foreach (var source in Project.CodeSources)
    {
        <MudTabPanel Text="@(source.Name)">
            <RButton Disabled="BlazorUtils.IsWorking" OnClick="() => Ingest(source)">Ingest @source.Name</RButton>
            @if (BlazorUtils.IsWorking)
            {
                <MudProgressLinear Color="Color.Primary" Size="Size.Small" Value="@_current" Max="@_total" Class="my-7">
                    <MudText Typo="Typo.subtitle1" Color="Color.Default">
                        <b>@_current/@_total</b>
                    </MudText>
                </MudProgressLinear>
            }
            <div>@_lastMessage</div>

        </MudTabPanel>
    }
</MudTabs>