@using CodeRag.Shared.EntityFramework.DbModels
@inherits LayoutComponentBase
<CascadingValue Value="BlazorUtils">
    <CascadingValue Value="Site">
        <CascadingValue Value="Project">
            <MudThemeProvider IsDarkMode="@_darkMode" />
            <MudPopoverProvider />
            <MudDialogProvider />
            <MudSnackbarProvider />
            @if (_projects == null)
            {
                <RProgressIndicator />
            }
            else
            {
                <MudLayout>
                    <MudAppBar Elevation="1" Dense>
                        <MudGrid Style="align-items: center">
                            <MudItem>
                                <MudText Typo="Typo.h5">@CodeRag.Shared.Constants.AppName Workbench</MudText>
                            </MudItem>
                            <MudSpacer />
                            <MudItem>
                                @if (_projects != null && Project != null)
                                {
                                    <MudGrid Justify="Justify.FlexEnd" Style="align-items: center" Spacing="1">
                                        <MudItem>
                                            <MudMenu Dense
                                                     AnchorOrigin="Origin.TopRight"
                                                     TransformOrigin="Origin.TopRight">
                                                <ActivatorContent>
                                                    <div style="margin-right: 20px">@Project.Name</div>
                                                </ActivatorContent>
                                                <ChildContent>
                                                    @foreach (ProjectEntity project in _projects)
                                                    {
                                                        <MudMenuItem Style="text-align: end" OnClick="() => SelectProject(project)">@project.Name</MudMenuItem>
                                                    }
                                                    <MudMenuItem Style="border-top: 1px solid silver" Icon="@Icons.Material.Filled.AddCircleOutline" OnClick="NewProject">Create a new Project</MudMenuItem>
                                                </ChildContent>
                                            </MudMenu>
                                        </MudItem>
                                    </MudGrid>
                                }
                            </MudItem>
                        </MudGrid>
                        <RIconButton Icon="@(_darkMode ? Icons.Material.Filled.LightMode : Icons.Material.Filled.DarkMode)" Color="Color.Inherit" OnClick="SwitchMode" Style="margin-right: 10px" />
                        <RIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" Target="_blank" Href="https://www.github.com/rwjdk" />
                    </MudAppBar>
                    <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2" Variant="DrawerVariant.Mini" Width="180px">
                        <MudNavMenu>
                            <SidebarMenuItem Icon="@Icons.Material.Filled.Home" Href="/" Caption="Home" DrawerOpen="_drawerOpen" Match="NavLinkMatch.All" />
                            @if (IsProjectSelected)
                            {
                                <SidebarMenuItem Icon="@Icons.Material.Filled.Dataset" Href="/SourceIngestion" Caption="Source Ingestion" DrawerOpen="_drawerOpen" />
                                <SidebarMenuItem Icon="@Icons.Material.Filled.Code" Href="/XmlSummariesGeneration" Caption="XML Summaries" DrawerOpen="_drawerOpen" />
                                <SidebarMenuItem Icon="@Icons.Material.Filled.Article" Href="/WikiGeneration" Caption="Code Wiki" DrawerOpen="_drawerOpen" />
                                <SidebarMenuItem Icon="@Icons.Material.Filled.AutoGraph" Href="/Test" Caption="Test AI Answers" DrawerOpen="_drawerOpen" />
                            }
                        </MudNavMenu>
                        <MudSpacer />
                        <MudNavMenu>
                            @if (IsProjectSelected)
                            {
                                <SidebarMenuItem Icon="@Icons.Material.Filled.Settings" OnClick="() => ShowProjectSettings(Project)" Caption="Project Settings" DrawerOpen="_drawerOpen" />
                            }
                            <SidebarMenuItem Icon="@Icons.Material.Filled.ChromeReaderMode" OnClick="DrawerToggle" Caption="Collapse Menu" AlternativeCaptionForTooltip="Expand Menu" DrawerOpen="_drawerOpen" />
                        </MudNavMenu>
                    </MudDrawer>
                    <MudMainContent>
                        <div style="padding: 16px">
                            @if (IsProjectSelected)
                            {
                                @Body
                            }
                            else
                            {
                                <h1>Welcome to @CodeRag.Shared.Constants.AppName</h1>
                                <RButton Size="Size.Large" OnClick="NewProject">Click here to add your First Project</RButton>
                            }
                        </div>
                    </MudMainContent>
                </MudLayout>
            }
        </CascadingValue>
    </CascadingValue>
</CascadingValue>
<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>